html {
  height:100%;
}

body {
  height:100%;
}

#flow {
  display:grid;
  grid-template-rows: auto 1fr;
}

main {
  display:grid;
  grid-template-rows: auto 1fr;
  height:100%;
}

#guestbook-link-block {
  background-color: #0648a3;
  padding:20px 0;
  text-align:center;
  border-bottom: 2px solid black;
}

#guestbook-link-block a {
  color:white;
}

iframe {
  width:100%;
  height:100%;
  border:none;
}
